<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>学生成长分析平台</title>

    <!-- Favicons -->
    <link href="/templates/servermaterial/img/favicon.png" rel="icon">
    <link href="/templates/servermaterial/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="/templates/servermaterial/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="/templates/servermaterial/lib/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="/templates/servermaterial/css/style.css" rel="stylesheet">
    <link href=/templates/servermaterial/"css/style-responsive.css" rel="stylesheet">
    <script src="/templates/servermaterial/lib/tasks.js"></script>
    <script src="/templates/servermaterial/js/jquery-1.7.2.min.js"></script>
    <script>
        $(document).ready(function () {
            /*
             查询类别选型改变，可选学生查询和班级查询
             */
            $("#query_option").change(function () {
                {#alert($('#query_option').val());#}
                $("tbody").empty();
                if ($(this).val() == 'student') {
                    $(".cls").hide();
                    $("#stuNo_query").show();
                    $("#query_hint").empty();
                    $("#query_hint").append("学生查询");
                } else {
                    $("#stuNo_query").hide();
                    $(".cls").show();
                    $("#query_hint").empty();
                    $("#query_hint").append("班级查询");
                }
            });

            /*
             学院下拉框改变
             */
            $("#school").change(function () {
                $.ajax({
                    url: '/web/query_majors',
                    type: 'POST',
                    data: JSON.stringify({'school': $("#school").find("option:selected").text()}),
                    dataType: 'JSON',
                    contentType: 'application/json;charset=utf-8',
                    success: function (result) {
                        $("#major").empty();
                        for (var i = 0; i < result.length; i++) {
                            var newNode = $("<option>" + result[i] + "</option>");
                            $("#major").append(newNode);
                        }
                        changeClassList();
                    }

                });
            });

            function changeClassList() {
                var major = $("#major").find('option:selected').text();
                var school = $("#school").find('option:selected').text();
                var grade = $("#grade").find('option:selected').text();
                $.ajax({
                    url: '/web/query_class',
                    type: 'POST',
                    data: JSON.stringify({"school": school, "major": major, "grade": grade}),
                    dataType: 'JSON',
                    contentType: 'application/json;charset=utf-8',
                    success: function (result) {
                        $('option[value=class1]').remove();
                        for (var i = 0; i < result.length; i++) {
                            $("#class").append($("<option value = 'class1'>" + result[i] + "</option>"))
                        }
                    }
                })
            }

            /*
             专业下拉框改变
             */
            $("#major").change(changeClassList);

            /*
             年级下拉框改变
             */
            $('#grade').change(changeClassList);


            $("#query_button").click(function () {
                /*
                 按学号查询
                 */
                $("tbody").empty();
                if ($("#query_option").val() == 'student') {
                    var data = {stuNo: $("#stuNo").val()};
                    $.ajax({
                        url: "/web/query_intervene",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify(data),
                        success: function (result) {
                            if (Object.keys(result).length == 1)
                                alert(result['info']);
                            else {
                                // 查询到对应该学生的干预意见，展示在表格上
                                var newTableNode = $("<tr>\n" + "<td>" + result['stu_id'] + "</td>\n" + "<td>" + result['school']
                                    + "</td>\n" + "<td>" + result['study_state'] + "</td>\n" + "<td>" + result['is_fail_exam'] + "</td>\n"
                                    + "<td>" + result['treatment_count'] + "</td>\n" + "<td>" + result['body_health_state'] + "</td>\n"
                                    + "<td class='danger'>" + result['suggestion'] + "</td>\n" + "</tr>");
                                $("tbody").append(newTableNode);
                            }
                        }
                    });
                } else {
                    /*
                     按专业年纪查询
                     */
                    var school = $("#school").find("option:selected").text();
                    var major = $("#major").find("option:selected").text();
                    var grade = $("#grade").find("option:selected").text();
                    var classNo = $("#class").find("option:selected").text();
                    var post_data = {'school': school, 'major': major, 'grade': grade, 'classNo': classNo};

                    $.ajax({
                        url: '/web/query_intervene',
                        type: 'POST',
                        data: JSON.stringify(post_data),
                        dataType: 'json',
                        contentType: "application/json;charset=utf-8",
                        success: function (result) {
                            if (result.length == 0)
                                alert('未查询到对应数据');
                            for (var i = 0; i < result.length; i++) {
                                var newTableNode = $("<tr>\n" + "<td>" + result[i]['stu_id'] + "</td>\n" + "<td>" + result[i]['school']
                                    + "</td>\n" + "<td>" + result[i]['study_state'] + "</td>\n" + "<td>" + result[i]['is_fail_exam'] + "</td>\n"
                                    + "<td>" + result[i]['treatment_count'] + "</td>\n" + "<td>" + result[i]['body_health_state'] + "</td>\n"
                                    + "<td class='danger'>" + result[i]['suggestion'] + "</td>\n" + "</tr>");
                                $("tbody").append(newTableNode);
                            }
                        },
                    });

                }
            });

        });
    </script>
    <!-- =======================================================
        Template Name: Dashio
        Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
        Author: TemplateMag.com
        License: https://templatemag.com/license/
    ======================================================= -->
</head>
<body>
<!-- **********************************************************************************************************************************************************
  TOP BAR CONTENT & NOTIFICATIONS
  *********************************************************************************************************************************************************** -->
<!--header start-->
{% include 'servermaterial/header.html' %}
<!--header end-->

<!--sidebar start-->
{% include 'servermaterial/sidebar.html' %}
<!--sidebar end-->

<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <div class="col-lg-12 mt">
            <div class="row content-panel">
                <h4>查询选项</h4>
                <div class="col-lg-12 detailed">
                    <form role="form" class="form-horizontal">
                        <div class="form-group col-lg-4">
                            <label class="col-lg-4 control-label text-info"
                                   style="font-size: 17px"><strong>查询类别</strong></label>
                            <div class="col-lg-8">
                                <select class="form-control" id="query_option">
                                    <option value="class">班级查询</option>
                                    <option value="student">学生查询</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-12 detailed">
                    <h4 id="query_hint">班级查询</h4>
                    <form role="form" class="form-horizontal">
                        <div class="cls form-group col-lg-4">
                            <label class="col-lg-3 control-label">学院</label>
                            <div class="col-lg-8">
                                <select class="form-control" id="school">
                                    {% for school in school_list %}
                                        <option>{{ school }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="cls form-group col-lg-4">
                            <label class="col-lg-3 control-label">专业</label>
                            <div class="col-lg-8">
                                <select class="form-control" id="major">
                                    {% for major in major_list %}
                                        <option> {{ major }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 cls">
                            <label class="col-lg-3 control-label">年级</label>
                            <div class="col-lg-8">
                                <select class="form-control" id="grade">
                                    <option value="volvo">2013</option>
                                    <option value="volvo">2014</option>
                                    <option value="saab">2015</option>
                                    <option value="saab">2016</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 cls">
                            <label class="col-lg-3 control-label">班级</label>
                            <div class="col-lg-8">
                                <select class="form-control" id="class">
                                    <option value="saab">所有班级</option>
                                    {% for classNo in class_list %}
                                        <option value="class1">{{ classNo }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-lg-4" id="stuNo_query" style="display:none">
                            <label class="col-lg-3 control-label">学号</label>
                            <div class="col-lg-8">
                                <input type="text" id="stuNo" name="stuNo" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <center>
                                <button type="button" class="btn btn-theme" id="query_button">查询</button>
                            </center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mt">
            <div class="row content-panel">
                <h4>干预意见</h4>
                {#              <div class="panel-heading">#}
                {#                <ul class="nav nav-tabs nav-justified">#}
                {#                  <li>#}
                {#                    <a data-toggle="tab" href="#health">身体健康</a>#}
                {#                  </li>#}
                {#                </ul>#}
                {#              </div>#}
                <!-- /panel-heading -->
                {#              <div class="panel-body">#}
                <div class="col-lg-12 detailed">

                    <h4>学生成长指导意见</h4>
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>学号</th>
                            <th>学院</th>
                            <th>学习情况</th>
                            <th>是否挂科</th>
                            <th>就诊次数</th>
                            <th>身体健康</th>
                            <th>干预意见建议</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /tab-content -->
        <!-- /panel-body -->
        <!-- /col-lg-12 -->
        <!-- /row -->
        <!--/div>
        <!-- /container -->
    </section>
    <!-- /wrapper -->
</section>
<!-- /MAIN CONTENT -->
<!--main content end-->

<!--footer start-->
{% include 'servermaterial/footer.html' %}
<!--footer end-->

<!-- js placed at the end of the document so the pages load faster -->
<script src="/templates/servermaterial/lib/jquery/jquery.min.js"></script>
<script src="/templates/servermaterial/lib/bootstrap/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="/templates/servermaterial/lib/jquery.dcjqaccordion.2.7.js"></script>
<script src="/templates/servermaterial/lib/jquery.scrollTo.min.js"></script>
<script src="/templates/servermaterial/lib/jquery.nicescroll.js" type="text/javascript"></script>
<!--common script for all pages-->
<script src="/templates/servermaterial/lib/common-scripts.js"></script>
<!--script for this page-->
<script src="/templates/servermaterial/lib/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript"
        src="/templates/servermaterial/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/templates/servermaterial/lib/bootstrap-daterangepicker/date.js"></script>
<script type="text/javascript"
        src="/templates/servermaterial/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript"
        src="/templates/servermaterial/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/templates/servermaterial/lib/bootstrap-daterangepicker/moment.min.js"></script>
<script type="text/javascript"
        src="/templates/servermaterial/lib/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
<script src="/templates/servermaterial/lib/advanced-form-components.js"></script>
</body>
</html>
