<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>DASHGUM - Bootstrap Admin Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/templates/servermaterial/assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="/templates/servermaterial/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="/templates/servermaterial/lib/font-awesome/css/font-awesome.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="/templates/servermaterial/assets/css/style.css" rel="stylesheet">
    <link href="/templates/servermaterial/assets/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->

<div id="login-page">
    <div class="container">

        <form class="form-login" action="/web/login/" method="post">
            <h2 class="form-login-heading">登录</h2>
            <div class="login-wrap">
                <label for="id_username">用户名：</label>
                <input type="text" name="id_username" class="form-control" placeholder="用户名" id="id_username" autofocus>
                <br>
                <label for="id_password">密码：</label>
                <input type="password" name="id_password" class="form-control" placeholder="密码" id="id_password">
                <label class="checkbox">
		                <span class="pull-right">
		                    <a data-toggle="modal" href="login.html#myModal">忘记密码</a>
		                </span>
                </label>
                {% if error_info %}
                    <div class="alert alert-warning">{{ error_info }}</div>
                {% endif %}
                <br>
                <button class="btn btn-theme btn-block" type="submit" id="submit"><i class="fa fa-lock"></i> 登录</button>
                <br>
                <button class="btn btn-theme btn-block" id="register" type="submit" name="turn2register"><i
                        class="fa fa-users"></i> 注册
                </button>
                </a>
            </div>

            <!-- Modal -->
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal"
                 class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">忘记密码</h4>
                        </div>
                        <div class="modal-body">
                            <p>请输入用户名：</p>
                            <input id="username" type="text" name="username" placeholder="用户名" autocomplete="off"
                                   class="form-control placeholder-no-fix">

                            <p>请输入邮箱：</p>
                            <input id="email" type="text" name="email" placeholder="邮箱" autocomplete="off"
                                   class="form-control placeholder-no-fix">

                            <p>请输入新密码：</p>
                            <input id="rst_passwd" type="password" placeholder="新密码" name="passwd" autocomplete="off"
                                   class="form-control placeholder-no-fix">

                            <p>请再次输入新密码：</p>
                            <input id="rst_repasswd" type="password" placeholder="确认新密码" name="repasswd"
                                   autocomplete="off" class="form-control placeholder-no-fix">
                            <br>
                            <div class="alert alert-warning"><p id="message"></p></div>
                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                            <button class="btn btn-theme" type="button" onclick="upload()">确认</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal -->

        </form>


    </div>
</div>

<!-- js placed at the end of the document so the pages load faster -->
<script src="/templates/servermaterial/assets/js/jquery.js"></script>
<script src="/templates/servermaterial/assets/js/bootstrap.min.js"></script>

<!--BACKSTRETCH-->
<!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
<script type="text/javascript" src="/templates/servermaterial/assets/js/jquery.backstretch.min.js"></script>
<script>
    $.backstretch("/templates/servermaterial/assets/img/bg.png", {speed: 500});
</script>
<script>
    function upload() {
        var username = $('#username').val();
        var email = $('#email').val();
        var passwd = $('#rst_passwd').val();
        var repasswd = $('#rst_repasswd').val();
        var submit_data = [
            {'username': username},
            {'email': email},
            {'rstpasswd': passwd},
            {'rstrepasswd': repasswd}
        ];
        $.ajax({
            url: "/web/reset/", // 不知道用来做什么的……需要修改
            data: {data: submit_data},
            type: 'POST',
            success: function (data) {
                var obj = JSON.parse(data);
                if (obj.success) {
                    $('#message').text(obj.success + '\t 3秒后跳转到登陆页面');
                    setTimeout(go, 3000);

                    function go() {
                        window.location.reload('http://www.baidu.com');
                    }
                } else {
                    $('#message').text(obj.message);
                }

            }
        });
    }
</script>


</body>
</html>
