<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>学生成长分析平台</title>

    <!-- Favicons -->
    <link href="/templates/servermaterial/img/favicon.png" rel="icon">
    <link href="/templates/servermaterial/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="/templates/servermaterial/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="/templates/servermaterial/lib/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="/templates/servermaterial/css/style.css" rel="stylesheet">
    <link href="/templates/servermaterial/css/style-responsive.css" rel="stylesheet">
    <script src="/templates/servermaterial/lib/tasks.js"></script>
    <script src="/templates/servermaterial/js/jquery-1.7.2.min.js"></script>
    <script src="/templates/servermaterial/lib/echarts.min.js"></script>
    <script src="/templates/servermaterial/js/echarts-wordcloud.min.js"></script>
    <script>
        var topKData;
        var isCloud = True;
    </script>
    <script>


        function createRandomItemStyle() {
            return {
                normal: {
                    color: 'rgb(' + [
                        Math.round(Math.random() * 160),
                        Math.round(Math.random() * 160),
                        Math.round(Math.random() * 160)
                    ].join(',') + ')'
                }
            };
        }

        $(document).ready(function () {
            $("#query_option").change(function () {
                $("#man_set").hide();
                {#alert($('#query_option').val());#}
                $("tbody").empty();
                if ($(this).val() == 'student') {
                    $(".cls").hide();
                    $("#stuNo_query").show();
                    $("#query_hint").empty();
                    $("#query_hint").append("学生查询");
                } else {
                    $("#stuNo_query").hide();
                    $(".cls").show();
                    $("#query_hint").empty();
                    $("#query_hint").append("班级查询");
                }
            });


            $.ajax({
                url: '/web/hot_book',
                type: 'GET',
                dataType: 'JSON',
                success: function (result) {
                    $("tbody[class='777']").children().remove();
                    for (var i = 0; i < result.length; i++) {
                        var newTableNode = $("<tr>\n" + "<td class=\"text-center\"> top" + (i + 1) + "</td>\n" +
                            "<td class=\"text-center\">" + result[i]['name'] + "</td>\n" + "<td class=\"text-center\">"
                            + result[i]['value'] + "</td>\n" + "</tr>");
                        $("tbody[class='777']").append(newTableNode);
                    }


                    var chart = echarts.init(document.getElementById('hotBookChart'));
                    option = {
                        title: {
                            text: '',
                        },
                        tooltip: {
                            show: true
                        },

                        series: [{
                            type: 'wordCloud',
                            textRotation: [0, 0, 0, 0],
                            sizeRange: [12, 60],
                            textPadding: 0,
                            autoSize: {
                                enable: true,
                                minSize: 14
                            },
                            textStyle: {
                                normal: {
                                    fontFamily: 'sans-serif',
                                    fontWeight: 'bold',
                                    // Color can be a callback function or a color string
                                    color: function () {
                                        // Random color
                                        return 'rgb(' + [
                                            Math.round(Math.random() * 160),
                                            Math.round(Math.random() * 160),
                                            Math.round(Math.random() * 160)
                                        ].join(',') + ')';
                                    }
                                },
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowColor: '#333'
                                }
                            },
                            data: result
                        }]
                    };
                    chart.setOption(option);
                }

            });

            $("a[href='###']").click(function () {
                if (isCloud) {
                    $("table[id='777']").show();
                    $("#hotBookChart").hide();
                    isCloud = false;
                } else {
                    $("table[id='777']").hide();
                    $("#hotBookChart").show();
                    isCloud = true;
                }
            });

            $("#query_button").click(function () {
                idr = $("#stuNo").val();
                $.ajax({
                    url: "/web/recommend",
                    type: "POST",
                    dataType: "json",
                    data: {'idr': idr},
                    success: function (result) {
                        // 查询到对应该学生的推荐意见，展示在表格上
                        var newTableNode = $("<tr>\n" + "<td>" + result[0] + "</td>\n" + "<td>" + result[1]
                            + "</td>\n" + "<td>" + result[2] + "</td>\n" + "<td>" + result[3] + "</td>\n"
                            + "<td>" + result[4] + "</td>\n" + "</tr>");
                        $("tbody[class='888']").children().remove();
                        $("tbody[class='888']").append(newTableNode);
                        $("table[id='888']").show();
                        $("#man_set").show();
                    }
                })
            });

            $("#set").click(function () {
                if ($(this).val() == "set") {
                    $("#rrate").attr("disabled", false);
                    $("#rway").attr("disabled", false);
                    $(this).val("save");
                    document.getElementById("set").innerText = "保存";
                } else {
                    $("#rrate").attr("disabled", true);
                    $("#rway").attr("disabled", true);
                    $(this).val("set");
                    document.getElementById("set").innerText = "设置";
                }
            });

            $("#query_option2").change(function () {
                var k = $(this).val();
                var schoolName = $("#query_option3").find('option:selected').text();
                $.ajax({
                    url: '/web/hot_book',
                    type: 'POST',
                    dataType: 'JSON',
                    data: {'k': k, "schoolName": schoolName},
                    success: function (result) {
                        $("tbody[class='777']").children().remove();
                        for (var i = 0; i < result.length; i++) {
                            var newTableNode = $("<tr>\n" + "<td class=\"text-center\"> top" + (i + 1) + "</td>\n" +
                                "<td class=\"text-center\">" + result[i]['name'] + "</td>\n" + "<td class=\"text-center\">"
                                + result[i]['value'] + "</td>\n" + "</tr>");
                            $("tbody[class='777']").append(newTableNode);
                        }
                        var chart = echarts.init(document.getElementById('hotBookChart'));
                        option = {
                            title: {
                                text: '',
                            },
                            tooltip: {
                                show: true
                            },

                            series: [{
                                type: 'wordCloud',
                                textRotation: [0, 0, 0, 0],
                                sizeRange: [12, 60],
                                textPadding: 0,
                                autoSize: {
                                    enable: true,
                                    minSize: 14
                                },
                                textStyle: {
                                    normal: {
                                        fontFamily: 'sans-serif',
                                        fontWeight: 'bold',
                                        // Color can be a callback function or a color string
                                        color: function () {
                                            // Random color
                                            return 'rgb(' + [
                                                Math.round(Math.random() * 160),
                                                Math.round(Math.random() * 160),
                                                Math.round(Math.random() * 160)
                                            ].join(',') + ')';
                                        }
                                    },
                                    emphasis: {
                                        shadowBlur: 10,
                                        shadowColor: '#333'
                                    }
                                },
                                data: result
                            }]
                        };
                        chart.setOption(option);
                    }

                });
            });
            $("#query_option3").change(function () {
                var k = $("#query_option2").val();
                var schoolName = $("#query_option3").find('option:selected').text();
                $.ajax({
                    url: '/web/hot_book',
                    type: 'POST',
                    dataType: 'JSON',
                    data: {'k': k, "schoolName": schoolName},
                    success: function (result) {
                        $("tbody[class='777']").children().remove();
                        for (var i = 0; i < result.length; i++) {
                            var newTableNode = $("<tr>\n" + "<td class=\"text-center\"> top" + (i + 1) + "</td>\n" +
                                "<td class=\"text-center\">" + result[i]['name'] + "</td>\n" + "<td class=\"text-center\">"
                                + result[i]['value'] + "</td>\n" + "</tr>");
                            $("tbody[class='777']").append(newTableNode);
                        }
                        var chart = echarts.init(document.getElementById('hotBookChart'));
                        option = {
                            title: {
                                text: '',
                            },
                            tooltip: {
                                show: true
                            },

                            series: [{
                                type: 'wordCloud',
                                textRotation: [0, 0, 0, 0],
                                sizeRange: [12, 60],
                                textPadding: 0,
                                autoSize: {
                                    enable: true,
                                    minSize: 14
                                },
                                textStyle: {
                                    normal: {
                                        fontFamily: 'sans-serif',
                                        fontWeight: 'bold',
                                        // Color can be a callback function or a color string
                                        color: function () {
                                            // Random color
                                            return 'rgb(' + [
                                                Math.round(Math.random() * 160),
                                                Math.round(Math.random() * 160),
                                                Math.round(Math.random() * 160)
                                            ].join(',') + ')';
                                        }
                                    },
                                    emphasis: {
                                        shadowBlur: 10,
                                        shadowColor: '#333'
                                    }
                                },
                                data: result
                            }]
                        };
                        chart.setOption(option);
                    }

                });
            });


        })
        ;
    </script>
    <!-- =======================================================
        Template Name: Dashio
        Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
        Author: TemplateMag.com
        License: https://templatemag.com/license/
    ======================================================= -->
</head>
<body>
<!-- **********************************************************************************************************************************************************
  TOP BAR CONTENT & NOTIFICATIONS
  *********************************************************************************************************************************************************** -->
<!--header start-->
{% include 'servermaterial/header.html' %}
<!--header end-->

<!--sidebar start-->
{% include 'servermaterial/sidebar.html' %}
<!--sidebar end-->

<!--main content start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <div class="col-lg-12 detailed">
            <div class="row content-panel">
                <h4>学习资源推荐</h4>
                <div class="panel-heading">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active">
                            <a data-toggle="tab" href="#hotBook">热门书籍推荐</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#personalize">个性化推荐配置</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#overlord">学霸书目分析</a>
                        </li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="hotBook">
                            <div class="col-lg-12 detailed">
                                <div class="col-lg-12 detailed">
                                    <form role="form" class="form-horizontal">
                                        <div class="form-group col-lg-4">
                                            <label class="col-lg-4 control-label text-info"
                                                   style="font-size: 17px"><strong>学院选择</strong></label>
                                            <div class="col-lg-8">
                                                <select class="form-control" id="query_option3">
                                                    <option value="all">全校学生</option>
                                                    {% for school in school_list %}
                                                        <option> {{ school }}</option>
                                                    {% endfor %}

                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label class="col-lg-4 control-label text-info"
                                                   style="font-size: 17px"><strong>榜单范围</strong></label>
                                            <div class="col-lg-8">
                                                <select class="form-control" id="query_option2">
                                                    <option value="10">top10</option>
                                                    <option value="15">top15</option>
                                                    <option value="20">top20</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="row">
                                    <div class="center-block">
                                        <div class="bdsharebuttonbox center-block"><a href="#" class="bds_weixin"
                                                                                      data-cmd="weixin"
                                                                                      title="分享到微信">微信</a><a href="#"
                                                                                                             class="bds_qzone"
                                                                                                             data-cmd="qzone"
                                                                                                             title="分享到QQ空间">QQ空间</a><a
                                                href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">新浪微博</a><a
                                                href="#"
                                                class="bds_more"
                                                data-cmd="more">分享到：</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt">
                                    <a class="col-lg-offset-11" href="###">切换视图</a>
                                    <div id="hotBookChart" class="center-block"
                                         style="width: 700px;height:700px; display: none;"></div>
                                    <table id="777" class="table table-bordered table-striped table-hover"
                                    >
                                        <thead>
                                        <tr class="info">
                                            {#                                                <th>学号</th>#}
                                            <th class="text-center">排名</th>
                                            <th class="text-center">题名</th>
                                            <th class="text-center">借阅次数</th>
                                        </tr>
                                        <tr>
                                        </tr>
                                        </thead>
                                        <tbody class="777">
                                        </tbody>
                                    </table>
                                </div>
                                <script>window._bd_share_config = {
                                    "common": {
                                        "bdSnsKey": {},
                                        "bdText": "",
                                        "bdMini": "1",
                                        "bdMiniList": false,
                                        "bdPic": "",
                                        "bdStyle": "0",
                                        "bdSize": "24"
                                    },
                                    "share": {"bdSize": 16},
                                    "image": {
                                        "viewList": ["weixin", "qzone", "tsina"],
                                        "viewText": "分享到：",
                                        "viewSize": "24"
                                    }
                                };
                                with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
                            </div>
                        </div>
                        <div class="tab-pane" id="personalize">
                            <div class="col-lg-12 detailed">
                                <div class="col-lg-12 detailed">

                                    <form role="form" class="form-horizontal">
                                        <div class="form-group col-lg-12">
                                            <label class="col-lg-12 control-label text-info"
                                                   style="font-size: 17px"><strong>推荐后端设置</strong></label>
                                            <h5 class="page-header"
                                                style="margin-top: 25px; margin-bottom: 5px; color: red"></h5>
                                        </div>
                                        <form role="form" class="form-horizontal">
                                            <div class="form-group col-lg-4">
                                                <label class="col-lg-4 control-label">推荐频率</label>
                                                <div class="col-lg-8">
                                                    <select class="form-control" id="rrate" disabled>
                                                        <option>每天一次</option>
                                                        <option>每三天一次</option>
                                                        <option>每周一次</option>
                                                        <option>每月一次</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-4">
                                                <label class="col-lg-4 control-label" disabled>推荐方式</label>
                                                <div class="col-lg-8">
                                                    <select class="form-control" id="rway" disabled>
                                                        <option>BOTH</option>
                                                        <option>短信通知</option>
                                                        <option>邮箱通知</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-offset-3">
                                                <button class="btn btn-theme" id="set" type="button" value="set">设置
                                                </button>
                                            </div>
                                        </form>
                                        <form role="form" class="form-horizontal">
                                            <div class="form-group col-lg-12">
                                                <label class="col-lg-2 control-label text-info"
                                                       style="font-size: 17px; margin-right: 0px; padding-right: 0px"><strong>推荐后端查询</strong></label>
                                                <div class="col-lg-2" style="margin-top: 3px; padding-left: 0px">
                                                    <select class="form-control" id="query_option">
                                                        <option value="student">学生查询</option>
                                                        <option value="class">班级查询</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="col-lg-12 detailed">
                                            <form role="form" class="form-horizontal">
                                                <div class="cls form-group col-lg-4" style="display:none">
                                                    <label class="col-lg-3 control-label">学院</label>
                                                    <div class="col-lg-8">
                                                        <select class="form-control" id="r_school">
                                                            {% for school in school_list %}
                                                                <option>{{ school }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="cls form-group col-lg-4" style="display:none">
                                                    <label class="col-lg-3 control-label">专业</label>
                                                    <div class="col-lg-8">
                                                        <select class="form-control" id="r_major">
                                                            {% for major in major_list %}
                                                                <option> {{ major }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-4 cls" style="display:none">
                                                    <label class="col-lg-3 control-label">年级</label>
                                                    <div class="col-lg-8">
                                                        <select class="form-control" id="grade">
                                                            <option value="volvo">2013</option>
                                                            <option value="volvo">2014</option>
                                                            <option value="saab">2015</option>
                                                            <option value="saab">2016</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-4 cls" style="display:none">
                                                    <label class="col-lg-3 control-label">班级</label>
                                                    <div class="col-lg-8">
                                                        <select class="form-control" id="class">
                                                            <option value="saab">所有班级</option>
                                                            {% for classNo in class_list %}
                                                                <option value="class1">{{ classNo }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-4" id="stuNo_query">
                                                    <label class="col-lg-3 control-label">学号</label>
                                                    <div class="col-lg-8">
                                                        <input type="text" id="stuNo" name="stuNo" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-12">
                                                    <center>
                                                        <button type="button" class="btn btn-theme" id="query_button">查询
                                                        </button>
                                                    </center>
                                                </div>
                                            </form>
                                        </div>
                                        {#                                        <ul class="list-group" name="recommenList">#}
                                        {#                                            {% for book in book_list %}#}
                                        {#                                                <li class="list-group-item"><<{{ book }}>></li>#}
                                        {#                                            {% endfor %}#}
                                        {#                                        </ul>#}
                                        <table id="888" class="table table-bordered table-striped table-hover"
                                               style="display: none;">
                                            <thead>
                                            <tr class="info">
                                                {#                                                <th>学号</th>#}
                                                <th>推荐1</th>
                                                <th>推荐2</th>
                                                <th>推荐3</th>
                                                <th>推荐4</th>
                                                <th>推荐5</th>
                                            </tr>
                                            <tr>
                                            </tr>
                                            </thead>
                                            <tbody class="888">
                                            </tbody>
                                        </table>
                                        <form class="form-horizontal">
                                            <div class="form-group col-lg-12">
                                                <center>
                                                    <button type="button" class="btn btn-theme" id="man_set"
                                                            style="display: none">手工配置
                                                    </button>
                                                </center>
                                            </div>
                                        </form>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="overlord">
                            <div class="col-lg-12 detailed">
                                <div class="col-lg-12 detailed">
                                    <form role="form" class="form-horizontal">
                                        <div class="form-group col-lg-4">
                                            <label class="col-lg-4 control-label text-info"
                                                   style="font-size: 17px"><strong>学院选择</strong></label>
                                            <div class="col-lg-8">
                                                <select class="form-control" id="school">
                                                    <option value="all">全校学生</option>
                                                    {% for school in school_list %}
                                                        <option>{{ school }}</option>
                                                    {% endfor %}

                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label class="col-lg-4 control-label text-info"
                                                   style="font-size: 17px"><strong>专业选择</strong></label>
                                            <div class="col-lg-8">
                                                <select class="form-control" id="major">
                                                    {#                                                    <option value="20">top20</option>#}
                                                    {#                                                    <option value="30">top30</option>#}
                                                    {#                                                    <option value="40">top40</option>#}
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="row">
                                    <div class="center-block">
                                        <div class="bdsharebuttonbox center-block"><a href="#" class="bds_weixin"
                                                                                      data-cmd="weixin"
                                                                                      title="分享到微信">微信</a><a href="#"
                                                                                                             class="bds_qzone"
                                                                                                             data-cmd="qzone"
                                                                                                             title="分享到QQ空间">QQ空间</a><a
                                                href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">新浪微博</a><a
                                                href="#"
                                                class="bds_more"
                                                data-cmd="more">分享到：</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt">
                                    <div class="col-lg-5 col-lg-offset-1 detailed">
                                        <div id="chart-library-1" style="width: 450px;height:400px;"></div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div id="chart-library-2" style="width: 450px;height:400px;"></div>
                                    </div>
                                </div>
                                <div class="row mt">
                                    <div id="top5BookChart" class="center-block"
                                         style="width: 700px;height:400px"></div>
                                </div>

                                <script>window._bd_share_config = {
                                    "common": {
                                        "bdSnsKey": {},
                                        "bdText": "",
                                        "bdMini": "1",
                                        "bdMiniList": false,
                                        "bdPic": "",
                                        "bdStyle": "0",
                                        "bdSize": "24"
                                    },
                                    "share": {"bdSize": 16},
                                    "image": {
                                        "viewList": ["weixin", "qzone", "tsina"],
                                        "viewText": "分享到：",
                                        "viewSize": "24"
                                    }
                                };
                                with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /wrapper -->
</section>
<!-- /MAIN CONTENT -->
<!--main content end-->

<!--footer start-->
{% include 'servermaterial/footer.html' %}
<!--footer end-->

<!-- js placed at the end of the document so the pages load faster -->
<script>
    var chart = echarts.init(document.getElementById('top5BookChart'));
    var namelist = ['数学分析讲义', '数学建模大全', '英语六级全通关', '平凡的世界', '面向未来'];
    var chart_data = [];

    for (var i = 0; i < 5; i++) {
        chart_data.push({'name': namelist[i], 'value': 20});
    }

    option = {
        title: {
            text: 'top5%最常借的五本书',
            x: 'center'
        },
        tooltip: {
            show: true
        },

        series: [{
            type: 'wordCloud',
            textRotation: [0, 0, 0, 0],
            sizeRange: [12, 60],
            textPadding: 0,
            autoSize: {
                enable: true,
                minSize: 14
            },
            textStyle: {
                normal: {
                    fontFamily: 'sans-serif',
                    fontWeight: 'bold',
                    // Color can be a callback function or a color string
                    color: function () {
                        // Random color
                        return 'rgb(' + [
                            Math.round(Math.random() * 160),
                            Math.round(Math.random() * 160),
                            Math.round(Math.random() * 160)
                        ].join(',') + ')';
                    }
                },
                emphasis: {
                    shadowBlur: 10,
                    shadowColor: '#333'
                }
            },
            data: chart_data
        }]
    };
    chart.setOption(option);
    var array = new Array();  //定义数组
    $("#school option").each(function () {  //遍历全部option
        var txt = $(this).val();   //获取option值
        if (txt == 'all') {
            return;
        }
        if (txt != '') {
            array.push(txt);  //加入到数组中
        }
    });

    var char2_data = new Array();

    for (var i = 0; i < array.length; i++) {
        char2_data.push({"name": array[i], "value": 100});
    }

    /*
     * 学霸书目挖掘可视化图
     */
    var myChart1 = echarts.init(document.getElementById('chart-library-1'));

    option = {
        title: {
            text: '年级排名与每月借阅书籍次数',
            subtext: '横坐标为年级排名',
            x: 'center'
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                crossStyle: {
                    color: '#888'
                }
            }
        },
        toolbox: {
            feature: {
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar']},
                restore: {show: true},
                saveAsImage: {show: false}
            }
        },
        legend: {
            y: 'bottom'
        },
        xAxis: [
            {
                type: 'category',
                data: ['后Top 30%', 'Top 10%', 'Top 5%', 'Top 1%'],
                axisPointer: {
                    type: 'shadow'
                }
            }
        ],
        yAxis: [
            {
                type: 'value',
                name: '借阅次数',
            }
        ],
        series: [
            {
                name: '借阅次数',
                type: 'bar',
                data: [1, 7, 11, 20],
                itemStyle: {
                    normal: {
                        color: '#4f9D9D',
                    }
                }
            },
            {
                name: '借阅次数',
                type: 'line',
                data: [1, 7, 11, 20],
                itemStyle: {
                    normal: {
                        color: '#EA7500',
                    }
                }
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart1.setOption(option);

    var myChart2 = echarts.init(document.getElementById('chart-library-2'));
    option = {
        title: {
            text: '不同学院专业Top 10%学生平均借书比例',
            x: 'center'
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        toolbox: {
            show: true,
            feature: {
                mark: {show: true},
                dataView: {show: true, readOnly: false},
                magicType: {
                    show: true,
                    type: ['pie', 'funnel'],
                    option: {
                        funnel: {
                            x: '25%',
                            width: '50%',
                            funnelAlign: 'left',
                            max: 1548
                        }
                    }
                },
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        calculable: true,
        series: [
            {
                name: '比例分布',
                type: 'pie',
                radius: '55%',
                center: ['50%', '60%'],
                data: char2_data,
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart2.setOption(option);

    var flag = 0;

    /*
    暂时把数据写死
    */
    $("#school").change(function () {
        $.ajax({
            url: '/web/query_majors',
            type: 'POST',
            data: JSON.stringify({'school': $("#school").find("option:selected").text()}),
            dataType: 'JSON',
            contentType: 'application/json;charset=utf-8',
            success: function (result) {
                $("#major").empty();
                for (var i = 0; i < result.length; i++) {
                    var newNode = $("<option>" + result[i] + "</option>");
                    $("#major").append(newNode);
                }
                var char2_data = new Array();

                for (var i = 0; i < result.length; i++) {
                    char2_data.push({"name": result[i], "value": parseInt(Math.random() * (30 - 20 + 1) + 20)});
                }
                myChart2.setOption({
                    series: [{data: char2_data}]
                });
                var chart_1_data1 = [2, 6, 9, 17];
                var chart_1_data2 = [1, 7, 11, 20];

                if (flag == 0) {
                    myChart1.setOption({
                        series: [{data: chart_1_data1}, {data: chart_1_data1}]
                    });
                    flag = 1;
                } else {
                    myChart1.setOption({
                        series: [{data: chart_1_data2}, {data: chart_1_data2}]
                    });
                    flag = 0;
                }
            }

        });

    });

    $("#major").change(function () {
        /*
         暂时把数据写死
         */
        var chart_1_data1 = [1, 6, 15, 21];
        var chart_1_data2 = [3, 7, 15, 17];

        if (flag == 0) {
            myChart1.setOption({
                series: [{data: chart_1_data1}, {data: chart_1_data1}]
            });
            flag = 1;
        } else {
            myChart1.setOption({
                series: [{data: chart_1_data2}, {data: chart_1_data2}]
            });
            flag = 0;
        }
    });

</script>

<script src="/templates/servermaterial/lib/jquery/jquery.min.js"></script>
<script src="/templates/servermaterial/lib/bootstrap/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="/templates/servermaterial/lib/jquery.dcjqaccordion.2.7.js"></script>
<script src="/templates/servermaterial/lib/jquery.scrollTo.min.js"></script>
<script src="/templates/servermaterial/lib/jquery.nicescroll.js" type="text/javascript"></script>
<!--common script for all pages-->
<script src="/templates/servermaterial/lib/common-scripts.js"></script>
<!--script for this page-->
<script src="/templates/servermaterial/lib/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript"
        src="/templates/servermaterial/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/templates/servermaterial/lib/bootstrap-daterangepicker/date.js"></script>
<script type="text/javascript"
        src="/templates/servermaterial/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript"
        src="/templates/servermaterial/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/templates/servermaterial/lib/bootstrap-daterangepicker/moment.min.js"></script>
<script type="text/javascript"
        src="/templates/servermaterial/lib/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
<script src="/templates/servermaterial/lib/advanced-form-components.js"></script>
</body>
</html>
