<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>DASHGUM - Bootstrap Admin Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/templates/servermaterial/assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="/templates/servermaterial/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
	<link href="/templates/servermaterial/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/templates/servermaterial/assets/css/style.css" rel="stylesheet">
    <link href="/templates/servermaterial/assets/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->

	<div id="register-page">
	  <div class="container">
	  	<form class="form-login" action="/web/register/" method="post">
		  <h2 class="form-login-heading">注册</h2>
		  <div class="login-wrap">
            <label for="username">用户名：</label>
		    <input type="text" name="username" class="form-control" placeholder="用户名" id="username">
            <br>
            <label for="name">姓名：</label>
		    <input type="text" name="name" class="form-control" placeholder="姓名" id="name">
            <br>
              <label for="email">邮箱：</label>
              <input type="text" name="email" class="form-control" placeholder="邮箱" id="email">
            <br>
              <label for="job">职务：</label>
            <input type="text" name="job" class="form-control" placeholder="职务" id="job">
            <br>
              <label for="school">管理范围：</label>
            <div class="form-group">
              <select class="form-control" id="school" name="school">
                <option value="all">全校</option>
                <option value="机械与动力工程学院">机械与动力工程学院</option>
                <option value="电子信息与电器工程学院">电子信息与电器工程学院</option>
                <option value="数学科学学院">数学科学学院</option>
                <option value="人文学院">人文学院</option>
                <option value="媒体与设计学院">媒体与设计学院</option>
              </select>
            </div>
              <label for="password">请输入密码：</label>
		    <input type="password" class="form-control" placeholder="密码" id="password" name="password">
            <br>
              <label for="repassword">请确认密码：</label>
            <input type="password" class="form-control" placeholder="确认密码" id="repassword" name="repassword">
            <br>
		    <button class="btn btn-theme btn-block" type="submit" id="submit"><i class="fa fa-lock"></i>提交注册信息</button>
          </div>
          {% if message %}
          <div class="alert alert-warning">{{ message }}</div>
          {% endif %}
        </form>

	  	</div>
	  </div>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/templates/servermaterial/assets/js/jquery.js"></script>
    <script src="/templates/servermaterial/assets/js/bootstrap.min.js"></script>

    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="/templates/servermaterial/assets/js/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("/templates/servermaterial/assets/img/login-bg.jpg", {speed: 500});
    </script>

  </body>

</html>